h3.home-content {
    font-size: 222%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#container {
    margin: 0 auto;
    /*min-width: 20em;*/
    /*max-width: 30em;*/
}

div.hot-data {
    text-align: center;
    margin-top: 2em;
}