{% extends 'base.html' %}
{% load staticfiles %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock header_extends %}

{% block title %}
    我的网站 | 首页
{% endblock title %}

{% block nav_home_active %}
    active
{% endblock nav_home_active %}

{% block content %}
    {# 图表来源：https://www.hcharts.cn/docs/basic-series #}
    <!-- 图表容器 DOM -->
    <h3 class="home-content">欢迎访问我的博客网站</h3>
    <div id="container" style="width: 600px;height:400px;"></div>
    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},
            title: {text: null},
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on'
            },
            yAxis: {
                title: {text: null},
                labels: {enabled: false},
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {enabled: false},
            credits: {enabled: false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock content %}